<?xml version="1.0"?>
<robot name="tv">
<link name="tv_base_link">
  <inertial>
    <mass value="0.0"/>
    <origin xyz="0 0 0" rpy="0 0 3.14"/>
    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 3.14"/>
    <geometry>
      <mesh filename="package://meshes/tv.dae" scale="0.5 0.5 0.5"/>
    </geometry>
    <material name="material_name">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 3.14"/>
    <geometry>
      <mesh filename="package://meshes/tv.dae" scale="0.5 0.5 0.5"/> 
      
      </geometry>
  </collision>
</link>
</robot>
